@using MvcStok.Models.Entity;
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>Ürün Id</th>
            <th>Ürün Ad</th>
            <th>Markası</th>
            <th>Kategori</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urun in Model)
        {
            <tr>
                <th>@urun.URUNID</th>
                <td>@urun.URUNAD</td>
                <td>@urun.MARKA</td>


                <td>@(urun.TBLKATEGORILER != null ? urun.TBLKATEGORILER.KATEGORIAD : "Kategori Yok")</td>
                <td>@urun.FIYAT</td>
                <td>@urun.STOK</td>
                <td><a href="/Product/DeleteProduct/@urun.URUNID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Product/GetProduct/@urun.URUNID" class="btn btn-success">GÜNCELLE</a></td>






            </tr>

        }
    </tbody>
</table>
<a href="/Product/CreateProduct" class="btn btn-primary">YENİ ÜRÜN EKLE</a>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>



<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">

<script>
    $('#tbl1').DataTable();
</script>